<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <%= render "shared/sidebar" %>
    </div>

    <div class="col-md-1"></div>

    <div class="col-md-6">
      <div class="content bg-white p-4 rounded shadow-sm mt-2">
        <%= render "shared/profile", { user: @user, followed_count: @followed_count, follower_count: @follower_count, post_count: @post_count } %>
      </div>
    </div>
  </div>
</div>
