<div class="border my-3">
  <div class="d-flex ms-3 align-items-center my-3">
    <%= image_tag 'dummy_profile_image', class: "rounded-circle ms-3" %>
    <p class="ms-4">ユーザー名</p>
    
    <% if current_user != user %>
      <% if current_user.following?(user) %>
        <%= link_to "フォロー解除", user_follows_path(user), class: "ms-auto me-5 btn btn-primary", method: :delete %>
      <% else %>
        <%= link_to "フォロー", user_follows_path(user), class: "ms-auto me-5 btn btn-primary", method: :post %>
      <% end %>
    <% else%>
      <%= link_to "#", class: "ms-auto" do %>
        <i class="bi bi-pencil-square me-5"></i>
      <% end %>
    <% end %>

  </div>

  <div class="container mb-3">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="d-flex justify-content-between">
          <p>投稿</p>
          <p>フォロー</p>
          <p>フォロワー</p>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-3 mx-5">
    <p>プロフィール文章がここに表示プロフィール文章がここに表示プロフィール文章がここに表示プロフィール文章がここに表示プロフィール文章がここに表示プロフィール文章がここに表示プロフィール文章がここに表示プロフィール文章がここに表示プロフィール文章がここに表示</p>
  </div>
</div>