<div class="my-3 border-end">

  <%= image_tag 'dummy_logo.png', class: 'mb-5', :size =>'150x150'%>
  <div class="d-flex custom-size mb-1">
    <i class="bi bi-search mx-2"></i>
    <p>検索</p>
  </div>

  <div class="d-flex custom-size mb-1 custom-size">
    <i class="bi bi-award mx-2"></i>
    <p>ランキング</p>
  </div>

  <div class="d-flex custom-size mb-1">
    <i class="bi bi-newspaper mx-2"></i>
    <p>ニュース</p>
  </div>

  <div class="d-flex custom-size mb-1">
    <i class="bi bi-chat mx-2"></i>
    <p>メッセージ</p>
  </div>

  <div class="d-flex custom-size mb-1">
    <i class="bi bi-heart-fill mx-2"></i>
    <p>いいね</p>
  </div>


  <div class="d-flex custom-size mb-1">
    <i class="bi bi-person-circle mx-2"></i>
    <p>プロフィール</p>
  </div>

  <div class="d-flex custom-size mb-1">
    <i class="bi bi-gear mx-2"></i>
    <p>設定</p>
  </div>

  <div class="d-flex custom-size mb-1">
    <i class="bi bi-people mx-2"></i>
    <p>コミュニティ</p>
  </div>

  <div class="d-flex custom-size mb-1">
    <i class="bi bi-clipboard-fill mx-2"></i>
    <p>チャレンジ</p>
  </div>

</div>