<div class="d-flex mb-3 align-items-center">
  <%= link_to user_path(user), class: "custom-link d-flex align-items-center" do %>
    <% if user.avatar.attached? %>
      <%= image_tag user.avatar, size: "50x50", class: "rounded-circle" %>
    <% else %>
      <%= image_tag "Giriwara.png", size: "50x50" %>
    <% end %>
    <p class="ms-3 my-auto"><%= user.nickname %></p>
  <% end %>
</div>