<div class="container-fluid">
  <div class="row my-4">
    <div class="col-md-3 border-end">
      <%= render partial: "shared/sidebar" %>
    </div>
    <div class="col-md-6">
      <% @posts.each do |post| %>
        <%= render partial: "shared/posts", locals: { post: post }%>
      <% end %>
    </div>
  </div>
</div>